.site-header {
    background-color: transparent;
    position: relative;
    border-bottom: none;
    padding: 0 55px;
    height: 50px;
}

.site-header__mobile-nav {
    padding-bottom: 30px;
    background-color: transparent;
    background-position: bottom;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    background-image: url(//cdn.shopify.com/s/files/1/0051/4005/4105/t/25/assets/bg-nav_2000x.png?v=1046222145375136340);
    z-index: 999;
    position: relative;
}

@media (min-width: 72em){
    .site-header__icons-wrapper {
        display: none;
    }
}

.site-header__search {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 750px){
    .site-header {
        padding: 0;
    }

    .site-header__mobile-nav {
        padding-left: 55px;
        padding-right: 55px;
    }
}

.site-header__logo {
    margin: 15px 0 !important;
}

@media only screen and (max-width: 749px){
    .site-header {
        border-bottom: 1px solid #e8e9eb;
        padding: 0;
    }

    .site-header__logo {
        max-width: 100px;
        margin-bottom: 5px;
    }
}

// annoucement

.announcement-bar__message{
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #282828;
}

@media (min-width: 72em){
    .announcement-bar__message {
        padding: 18px 300px 11px;
    }
}

.announcement-bar__misc {
    display: none;
}

@media (min-width: 72em){
    .announcement-bar__misc {
        display: block;
        position: absolute;
        top: 50%;
        right: 55px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.announcement-bar__link {
    color: #282828;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;
    vertical-align: middle;
}

.announcement-bar__cart {
    color: #282828;
    vertical-align: top;
}

.icon__fallback-text, .visually-hidden {
    position: absolute!important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.announcement-bar__cart-count {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
    color: #282828;
}

.cart-count--hidden {
    display: none;
}

svg.icon.icon-cart {
    margin-left: 30px;
}