.site-header {
    // border-bottom: 1px solid #e8e9eb;
    padding: 0 !important;
    // height: 10px;
}

.site-header__mobile-nav {
    padding-bottom: 30px;
    background-color: transparent;
    background-position: bottom;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    background-image: url(//cdn.shopify.com/s/files/1/0051/4005/4105/t/25/assets/bg-nav_2000x.png?v=1046222145375136340);
    
    z-index: 999;
    position: relative;
}

.site-nav__main {
    display: none;
}

@media (min-width: 72em){
    .site-nav__main {
        display: inline-block;
    }
    .site-header__icons-wrapper {
        display: none;
    }
}

.site-nav {
    display: inline-block;
}

.site-header__search {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}