@media only screen and (min-width: 750px){
    .index-section--flush:first-child {
        margin-top: 10px;
    }
}


.slideshow {
    height: 575px !important;
}

@media only screen and (min-width: 750px){
    .slideshow {
        height: 775px !important;
    }

    //arrows were commented out
    .slideshow__arrows .slick-dots li a::before, .slideshow__arrows .slick-dots li button::before {
        width: 12px;
        height: 12px;
    }

}

.slideshow__controls .slideshow__arrows, 
.slideshow__controls--hover .slideshow__arrows, 
.slideshow__controls:focus .slideshow__arrows, 
.slideshow__controls:hover .slideshow__arrows {
    background-color: transparent;
}

.slideshow__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.25;
    z-index: 3;
}

//arrows were commented out
.slideshow__arrows .slick-dots li {
    width: 12px;
    height: 12px;
}

.slick-slider .slick-dots li {
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

@media only screen and (max-width: 749px){
    .slideshow__text-wrap--mobile {
        display: block;
        position: relative;
        top: -3rem;
        background-color: transparent;
        width: 85%;
        margin: 0 0 -1.1rem 7.5%;
        z-index: 8;
    }

    .slideshow__arrows .slideshow__arrow-previous,
    .slideshow__arrows .slideshow__arrow-next {
        display: none;
    }
}

.slideshow__subtitle {
    font-size: 20px;
    font-family: Futura,sans-serif;
    display: block;
    color: #fff;
}

@media (min-width: 62em){
    .slideshow__subtitle {
        font-size: 26px;
    }
}

@media only screen and (min-width: 750px){
    .text-center .mega-subtitle {
        font-family: Futura bold,sans-serif;
        max-width: none;
    }
}

.slideshow__arrows .slick-dots {
    margin: -3.25rem .75rem;
}