@media only screen and (min-width: 750px){
    .index-section--flush:first-child {
        margin-top: 10px;
    }
}


.slideshow {
    height: 575px !important;
}

@media only screen and (min-width: 750px){
    .slideshow {
        height: 775px !important;
    }
}


