.jdgm-carousel-wrapper {
    width: 90% !important;
}

.jdgm-carousel-title-and-link {
    width: calc(100% - 81px);
    margin: 0 auto 24px auto;
}

@media (min-width: 62em){
    .h2, h2 {
        font-size: 66px;
    }
}

:not(.jdgm-prev-badge__stars)>.jdgm-star {
    color: #b7d772;
}

.jdgm-star:last-of-type {
    padding: 0 !important;

}

//half star
.jdgm-all-reviews-rating .jdgm-star:last-of-type.jdgm--on:before {
    content: "\e002";
}

//carousel
.jdgm-carousel-wrapper .jdgm-widget.jdgm-carousel {
    width: calc(100% - 81px);
    margin: 0 auto;
}

.jdgm-carousel-wrapper .jdgm-carousel__item-wrapper {
    height: 320px;
}

.jdgm-carousel-wrapper .jdgm-carousel-item__review {
    height: calc(72% - 2.7em);
}

.jdgm-carousel-item__product-title {
    color: #282828;
}

//arrows
.jdgm-carousel-wrapper .jdgm-carousel__left-arrow {
    float: left;
    margin-left: -25px;
    margin-top: -192.0px;
}

.jdgm-carousel-wrapper .jdgm-carousel__right-arrow {
    float: right;
    margin-right: -25px;
    margin-top: -192.0px;
}