.site-nav {
    display: inline-block;
}

.site-nav__main {
    display: none;
}

@media (min-width: 72em){
    .site-nav__main {
        display: inline-block;
    }
}

.site-nav__dropdown {
    left: -16px;
    background-color: #282828;
    border: none;
    padding: 0;
}

button.uppercase.site-nav__link.site-nav__link--main.site-nav__link--button {
    color: white;
}

.site-nav__dropdown--left:not(.site-nav__dropdown--centered) {
    left: -16px;
}

span.site-nav__label{
    font-weight: 700;
}

@media (min-width: 85em){
    .site-nav__dropdown .site-nav__link {
        padding: 15px 25px;
    }
}

@media (min-width: 85em){
    .site-nav .site-nav__link {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 85em){
    .site-nav__dropdown .site-nav__link {
        padding: 15px 25px;
    }
}

.site-header__search-input {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 4px;
    padding-left: 35px;
    color: #fff;
    max-width: 120px;
}

// search
@media (min-width: 80em){
    .site-header__search-input {
        max-width: 175px;
    }
}

.site-header__search-button {
    position: absolute;
    top: 0px;
    left: 0;
}

.site-header__icon {
    color: #fff;
}

.site-header__icon svg {
    height: 23px;
    width: 22px;
}

::placeholder {
  color: #949494;
  opacity: 1; /* Firefox */
}