body, button, input, select, textarea {
    font-size: 16px;
    font-family: Futura,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 17.5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 17.5px;
    margin-left: 0px;
    font-family: Futura,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media (min-width: 62em){
    .h1, h1 {
        font-size: 86px;
        letter-spacing: 3px;
    }
}

.h1, .uppercase, h1 {
    text-transform: uppercase;
}

.uppercase {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .5px;
}

@media (min-width: 62em){
    .btn:not(.btn--small) {
        width: 300px;
        height: 75px;
        line-height: 75px;
        font-size: 18px;
        font-weight: 700;
    }
}

.btn, .btn:active, .btn:focus, .btn:hover {
    background-color: transparent;
    color: #282828;
}

.btn {
    position: relative;
    padding: 0 10px;
    background-size: contain;
    background-position: 0;
    background-repeat: no-repeat;
    font-size: 14px;
    border: none;

    background-image: url(//cdn.shopify.com/s/files/1/0051/4005/4105/t/25/assets/btn-primary_500x.png?v=3044510708436779912);
}