body, button, input, select, textarea {
    font-size: 16px;
    font-family: Futura,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;
}

@media (min-width: 48em){
    body, p {
        font-size: 21px;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 17.5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 17.5px;
    margin-left: 0px;
    font-family: Futura,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media (min-width: 62em){
    .h1, h1 {
        font-size: 86px;
        letter-spacing: 3px;
    }
}

.h1, .uppercase, h1 {
    text-transform: uppercase;
}

.uppercase {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .5px;
}

@media (min-width: 62em){
    .btn:not(.btn--small) {
        width: 300px;
        height: 75px;
        line-height: 75px;
        font-size: 18px;
        font-weight: 700;
    }
}

.btn, .btn:active, .btn:focus, .btn:hover {
    background-color: transparent;
    color: #282828;
}

.btn {
    position: relative;
    padding: 0 10px;
    background-size: contain;
    background-position: 0;
    background-repeat: no-repeat;
    font-size: 14px;
    border: none;

    background-image: url(//cdn.shopify.com/s/files/1/0051/4005/4105/t/25/assets/btn-primary_500x.png?v=3044510708436779912);
}

//tears
.tear--bottom:after, .tear--top:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50%;
}

.tear--bottom:after {
    bottom: -35px;
    height: 36px;
}

.tear--top-inner::before {
    background-image: url(//cdn.shopify.com/s/files/1/0051/4005/4105/t/25/assets/tear-bottom_2000x.png?v=4442257156047370017);
}

.template-index .index-section {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 750px){
    .site-footer__item--one-sixth {
        -webkit-flex: 1 1 16%;
        -moz-flex: 1 1 16%;
        -ms-flex: 1 1 16%;
        flex: 1 1 16%;
    }
}

//subscribe
.site-footer__newsletter {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-radius: 20px;
    background-color: #fff;
    color: #282828;
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 750px){
    .site-footer__newsletter {
        max-width: none;
    }
}

.newsletter__input {
    width: 100%;
    border-radius: 2px;
}

.site-footer__newsletter .newsletter__input {
    margin: 8px 0;
    border: none;
    background: none;
    font-size: 16px;
}

.site-footer__newsletter .newsletter__submit {
    margin-top: 5px;
    width: auto;
    border-radius: 2px;
}

.site-footer__newsletter .newsletter__submit {
    margin: 8px;
    background-color: transparent;
    color: #282828;
    border: none;
}

.input-error-message {
    display: none;
    color: #d20000;
    font-size: .875em;
    margin-bottom: 11.66667px;
}

//icons
@media only screen and (min-width: 750px){
    .site-footer__social-icons {
        text-align: left;
    }
}

.site-footer__icon-list {
    padding: 0;
}

.site-footer__social-icons {
    margin-top: 20px;
}

@media only screen and (min-width: 750px){
    .site-footer__social-icons li:first-of-type {
        padding-left: 0;
    }
}

.site-footer__social-icons li {
    padding: 0 15px;
}
